name: postech-tech-challenge

services:
  web:
    build: .
    ports:
      - "3000:3000"   
      - "4000:4000"   
      - "6006:6006"   
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev:all
